.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: var(--headersize);
    font-weight: var(--semibold);
}

.logo a span#logo-name {
    border-bottom: 2px solid transparent;
}

.logo a span#logo-name:hover {
    border-bottom: 2px solid var(--darkcolor);
}


body.dark #icon-light { display: none; }
body.dark #icon-dark { display: inline; }

body:not(.dark) #icon-light { display: inline; }
body:not(.dark) #icon-dark { display: none; }

button#theme-toggle {
    font-size: 20px;
    margin: auto 4px;
    line-height: normal;
    height: auto;
    align-self: center;
    border-bottom: 2px solid transparent;
}

button#theme-toggle:hover {
    border-bottom: 2px solid var(--darkcolor);
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: var(--headersize);
    font-weight: 400;
}

#menu .active {
    border-bottom: 2px solid var(--highlight);
}


#menu li:hover a span {
    border-bottom: 2px solid var(--darkcolor);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
